force-app/main/default/flows/Custom_quotemaker.flow-meta.xml-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>AssignmentSubs</name>
        <label>여러 구독내역 정렬</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CourseScheduleText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IF(   ISBLANK({!Loop_구독내역.Product__r.Name}),   &quot;과목 없음&quot;,   {!Loop_구독내역.Product__r.Name} ) &amp; &quot; (&quot; &amp; TEXT({!Loop_구독내역.StartDate__c}) &amp; &quot; ~ &quot; &amp; TEXT({!Loop_구독내역.EndDate__c}) &amp; &quot;)&quot; &amp; BR()</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSubs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MixAddress</name>
        <label>주소 조합</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FullAddressVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FullAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateQuote</targetReference>
        </connector>
    </assignments>
    <description>Contract ID가 새로 생성되면 자동으로 Quote생성 및 관계자 이메일 발송!</description>
    <environments>Default</environments>
    <interviewLabel>Custom quotemaker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom quotemaker</label>
    <loops>
        <name>LoopSubs</name>
        <label>여러 구독내역 조합</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetSubs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentSubs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetChild</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateQuote</name>
        <label>Create 계약서</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountAddress__c</field>
            <value>
                <elementReference>FullAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountName__c</field>
            <value>
                <elementReference>GetAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildBirth__c</field>
            <value>
                <elementReference>GetChild.Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildName__c</field>
            <value>
                <elementReference>GetChild.ChildName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractDate__c</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CourseNameText__c</field>
            <value>
                <elementReference>CourseScheduleText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DiscountRate__c</field>
            <value>
                <elementReference>$Record.Discount_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>GetAccount.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalTotal__c</field>
            <value>
                <elementReference>$Record.Original_Total_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>GetAccount.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice__c</field>
            <value>
                <elementReference>$Record.Total_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>Get 학부모</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MixAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetChild.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetChild</name>
        <label>Get 아동</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopSubs.ContactId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubs</name>
        <label>Get 구독내역</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopSubs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSubs</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>FullAddress</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Account.CityName__c} {!$Record.Account.State__c} {!$Record.Account.Street__c}</text>
    </textTemplates>
    <textTemplates>
        <name>QuoteName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!TEXT(YEAR($Record.StartDate))}{!RIGHT(&quot;0&quot; &amp; TEXT(MONTH($Record.StartDate)), 2)}{!RIGHT(&quot;0&quot; &amp; TEXT(DAY($Record.StartDate)), 2)}_{!GetAccount.Name}_{!GetChild.ChildName__c}</text>
    </textTemplates>
    <variables>
        <name>CourseScheduleText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EarliestStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FullAddressVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LatestEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
