force-app/main/default/flows/flowLearningLogs.flow-meta.xml-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>add2</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>add2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!AllLearningLogsText}{!Get_Latest_Learning_Logs.TeacherComment__c}{!Get_Latest_Learning_Logs.ProductId__r.Name}{!Get_Child.ChildName__c}{!PromptVersionID}{!PromptVersionID}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>텍스트 이어붙이기</description>
        <name>AppendToTotalLogText</name>
        <label>전체 학습일지 이어붙이기</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AllLearningLogsText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LoopLearningLogs.Date__c}: {!LoopLearningLogs.TeacherComment__c}\n\n</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopLearningLogs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>flowLearningLogs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flowLearningLogs</label>
    <loops>
        <name>LoopLearningLogs</name>
        <label>Loop 학습일지</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Learning_Logs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AppendToTotalLogText</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Learning_Logs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_All_Learning_Logs</name>
        <label>전체 학습일지 조회</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLearningLogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Child.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LearningLog__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child</name>
        <label>아동 정보</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Learning_Logs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Learning_Logs</name>
        <label>최근 학습일지 1건 조회</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Child.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LearningLog__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>텍스트 이어붙이기</description>
        <name>AllLearningLogsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>자녀(Contact) 레코드 ID</description>
        <name>ChildId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LatestLogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearningLog__c</objectType>
    </variables>
    <variables>
        <name>promptOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PromptVersionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>3vNgK0000009QHpUAM</stringValue>
        </value>
    </variables>
</Flow>
