force-app/main/default/flows/flowAllLearningLogsForChild.flow-meta.xml-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Append_Log_Summary</name>
        <label>텍스트 하나씩 이어 붙이기</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LogsAsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_LearningLogs.TeacherComment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LogsAsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_LearningLogs.ProductId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LogsAsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_LearningLogs.CurriculumId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LogsAsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_LearningLogs.Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_LearningLogs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Output</name>
        <label>최종 결과 저장</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AllLearningLogsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LogsAsText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>전체 학습일지 조회용 Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flowAllLearningLogsForChild</label>
    <loops>
        <name>Loop_Over_LearningLogs</name>
        <label>하나씩 일지를 반복하며 텍스트 조합</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_LearningLogs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Log_Summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Final_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LearningLogs</name>
        <label>자녀의 학습일지 모두 불러오기</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_LearningLogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LearningLog__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductId__c</queriedFields>
        <queriedFields>CurriculumId__c</queriedFields>
        <queriedFields>TeacherComment__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LearningLogs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>학습일지 요약용 텍스트</description>
        <name>AllLearningLogsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>아동 레코드 아이디</description>
        <name>ChildRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>텍스트 조합용 템프 변수</description>
        <name>LogsAsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
