mdapi_temp/flows/CreateQuote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateQuote</name>
        <label>계약서 생성</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CustomQuoteMakerV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CompleteQuote1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomQuoteMakerV2</nameSegment>
        <outputParameters>
            <assignToReference>varQuoteId</assignToReference>
            <name>quoteId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>계약서 생성 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>계약서 생성</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CompleteQuote1</name>
        <label>계약서 생성 완료</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>이전</backButtonLabel>
        <connector>
            <targetReference>SendToEmail</targetReference>
        </connector>
        <fields>
            <name>PanelForQuote</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;계약서 생성이 완료되었습니다.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>종료</nextOrFinishButtonLabel>
        <pauseButtonLabel>취소</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>QuotePanel</name>
        <label>계약서 만들기</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateQuote</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;계약서를 만드시겠습니까?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>만들기</nextOrFinishButtonLabel>
        <pauseButtonLabel>취소</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>QuotePanel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SendToEmail</name>
        <label>계약서 전송</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>QuoteToEmail</flowName>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
