mdapi_temp/flows/Custom_Convert_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Leadconverted</name>
        <label>리드강제전환</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ForceLeadConvertHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>crt_003</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>ctr_004</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>grc_001.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ForceLeadConvertHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>CheckStartDate</name>
        <label>구독상태</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>lop_007</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InprogressStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lop_007.StartDateInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Subscription</targetReference>
            </connector>
            <label>진행중</label>
        </rules>
        <rules>
            <name>PendingStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lop_007.StartDateInput</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Subscription</targetReference>
            </connector>
            <label>진행전</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcs_0041</name>
        <label>Is Child 2 Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ctr_005</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dcs_0042</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grc_001.Name</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_0051</targetReference>
            </connector>
            <label>Is Blank 1</label>
        </rules>
    </decisions>
    <description>만14세 미만 아동 정보 및 상담정보 입력자 만 14세 이상 Account 생성될때 필드 추가</description>
    <dynamicChoiceSets>
        <name>ChildNameChoice</name>
        <dataType>String</dataType>
        <displayField>ChildName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>crt_003</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadAddress1PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CityName__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadAddress2PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR({!lop_007.StartDateInput}) + FLOOR((MONTH({!lop_007.StartDateInput}) + {!lop_007.TermInput} - 1) / 12),
  MOD(MONTH({!lop_007.StartDateInput}) + {!lop_007.TermInput} - 1, 12) + 1,
  DAY({!lop_007.StartDateInput})
)</expression>
    </formulas>
    <formulas>
        <name>Child1BirthTextToDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
  VALUE(&quot;20&quot; &amp; LEFT({!Child1BirthDate}, 2)), 
  VALUE(MID({!Child1BirthDate}, 3, 2)), 
  VALUE(RIGHT({!Child1BirthDate}, 2))
)</expression>
    </formulas>
    <formulas>
        <name>Child2BirthTextToDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
  VALUE(&quot;20&quot; &amp; LEFT({!Child2BirthDate}, 2)), 
  VALUE(MID({!Child2BirthDate}, 3, 2)), 
  VALUE(RIGHT({!Child2BirthDate}, 2))
)</expression>
    </formulas>
    <formulas>
        <name>SubscriptionStatus</name>
        <dataType>String</dataType>
        <expression>IF(
  {!lop_007.StartDateInput} = {!TodayDate},
  &quot;진행중&quot;,
  &quot;진행전&quot;
)</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Custom Convert Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Convert Lead</label>
    <loops>
        <name>lop_007</name>
        <label>Loop Subscription(s)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SubscriptionCollection.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>gtr_008</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Screen_Contact_1_Created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Subscription</name>
        <label>Copy 1 of Create Subscription</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>lop_007</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>lop_007.ContactNameInput.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>CalculatedEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId__c</field>
            <value>
                <elementReference>gtr_008.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>lop_007.StartDateInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>진행중</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>lop_007.TermInput</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Subscription</name>
        <label>Copy 2 of Create Subscription</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>lop_007</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>lop_007.ContactNameInput.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>CalculatedEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId__c</field>
            <value>
                <elementReference>gtr_008.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>lop_007.StartDateInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>진행전</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>lop_007.TermInput</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>crt_003</name>
        <label>Create Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_0031</targetReference>
        </connector>
        <inputAssignments>
            <field>CityName__c</field>
            <value>
                <elementReference>LeadAddress1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>LeadEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Consent__c</field>
            <value>
                <elementReference>grc_001.MarketingConsent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LeadName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>LeadPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Privacy_Consent__c</field>
            <value>
                <elementReference>grc_001.PrivacyConsent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>LeadAddress2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>LeadAddress3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Under14Consent__c</field>
            <value>
                <elementReference>grc_001.Under14Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upper14Consent__c</field>
            <value>
                <elementReference>grc_001.Upper14Consent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ctr_004</name>
        <label>Create Contact 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcs_0041</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>crt_003</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Child1BirthTextToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildName__c</field>
            <value>
                <elementReference>Child1Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Child1Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Child1Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeacherId__c</field>
            <value>
                <elementReference>grc_001.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ctr_005</name>
        <label>Create Contact 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_0052</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>crt_003</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Child2BirthTextToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildName__c</field>
            <value>
                <elementReference>Child2Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Child2Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Child2Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeacherId__c</field>
            <value>
                <elementReference>grc_001.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>grc_001</name>
        <label>Get Current Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtr_0032</name>
        <label>Get Created Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ctr_004</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gtr_008</name>
        <label>Get Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckStartDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lop_007.ProductNameInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Screen_Contact_1_Created</name>
        <label>Screen Subscription Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Leadconverted</targetReference>
        </connector>
        <fields>
            <name>DisplaySubscriptionSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Subscription 생성 완료&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_002</name>
        <label>Screen Lead Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>crt_003</targetReference>
        </connector>
        <fields>
            <name>scr_002_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_002_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayAccount</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Account Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LeadName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grc_001.Company</elementReference>
                    </defaultValue>
                    <fieldText>학부모 이름</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LeadPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>grc_001.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>학부모 연락처</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LeadEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>이메일</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>example@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LeadAddress1</name>
                    <choiceReferences>LeadAddress1PL</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grc_001.CityName__c</elementReference>
                    </defaultValue>
                    <fieldText>지역</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LeadAddress2</name>
                    <choiceReferences>LeadAddress2PL</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grc_001.State__c</elementReference>
                    </defaultValue>
                    <fieldText>자치구</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LeadAddress3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grc_001.Street__c</elementReference>
                    </defaultValue>
                    <fieldText>상세주소</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_002_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayContact</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Contact Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Child1Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grc_001.Name</elementReference>
                    </defaultValue>
                    <fieldText>자녀1 이름</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Child1BirthDate</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grc_001.ChildBirthDate1__c</elementReference>
                    </defaultValue>
                    <fieldText>자녀1 생년월일</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Child1Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>자녀1 연락처</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Child2Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grc_001.ChildName2__c</elementReference>
                    </defaultValue>
                    <fieldText>자녀2 이름</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Child2BirthDate</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>grc_001.ChildBirthDate2__c</elementReference>
                    </defaultValue>
                    <fieldText>자녀2 생년월일</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Child2Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>자녀2 연락처</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_0031</name>
        <label>Screen Account Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>gtr_0032</targetReference>
        </connector>
        <fields>
            <name>DisplayAccountSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Account 생성 완료&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_0051</name>
        <label>Screen Contact 1 Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_006</targetReference>
        </connector>
        <fields>
            <name>DisplayContact1Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Contact 생성 완료&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_0052</name>
        <label>Screen Contact 2 Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_006</targetReference>
        </connector>
        <fields>
            <name>DisplayContact2Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Contact 생성 완료&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_006</name>
        <label>Screen Subscription Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lop_007</targetReference>
        </connector>
        <fields>
            <name>DisplaySubscription</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;구독내역&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubscriptionCollection</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>ContactNameInput</name>
                <choiceReferences>ChildNameChoice</choiceReferences>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>아동이름</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>StartDateInput</name>
                <dataType>Date</dataType>
                <fieldText>구독시작일</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TermInput</name>
                <dataType>Number</dataType>
                <fieldText>구독개월수</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
            </fields>
            <fields>
                <name>ProductNameInput</name>
                <choiceReferences>ProductChoice</choiceReferences>
                <dataType>String</dataType>
                <fieldText>과정명</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grc_001</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
