mdapi_temp/flows/Custom_Lead_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_004</name>
        <label>Generate RandIndex</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RandomIndexGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>lop_005</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputSizes</name>
            <value>
                <elementReference>CollectionSize</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RandomIndexGenerator</nameSegment>
        <outputParameters>
            <assignToReference>ActionOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>asn_003</name>
        <label>Increase CollectionSize</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CollectionSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_002</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_007</name>
        <label>Assign Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lop_005.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>grd_010</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_008</name>
        <label>Current Index += 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lop_005</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dcs_006</name>
        <label>Current = RandomIndex?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>asn_008</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CurrentEqualRandInt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ActionOutput</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_007</targetReference>
            </connector>
            <label>Current = RandInd</label>
        </rules>
    </decisions>
    <description>input last name</description>
    <environments>Default</environments>
    <interviewLabel>Custom Lead Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Custom Lead Task Assignment</label>
    <loops>
        <name>lop_002</name>
        <label>Count Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>UserCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_003</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>act_004</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lop_005</name>
        <label>For Each Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>UserCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dcs_006</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>grc_001</name>
        <label>Get User Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lop_002</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region_Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserCollection</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Region_Zone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>grd_010</name>
        <label>Get Records 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>upd_009</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upd_009</name>
        <label>Update Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Teacher__c</field>
            <value>
                <elementReference>grd_010.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grc_001</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ActionOutput</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CurrentIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
