mdapi_temp/flows/flowGetRecommendedProductText.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ProductList</name>
        <label>추천과정 문장 만들기</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ProductList</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>OutputResource</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:productDescription</name>
            <value>
                <elementReference>formattedLine</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:childName</name>
            <value>
                <elementReference>childName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:keyword</name>
            <value>
                <elementReference>normalizedSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:productName</name>
            <value>
                <elementReference>recommendedProductNameText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>GenAiPromptTemplateVersionId</name>
            <value>
                <elementReference>PromptVersionID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProductList</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>AppendRecommendationText</name>
        <label>텍스트 누적하기</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recommendationText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProducts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutputResource</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>OutputResource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!ProductList.promptResponse}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetNormalizedSubjectToEnglish</name>
        <label>Set Normalized Subject to 영어</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>normalizedSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>영어</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecommendedProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNormalizedSubjectToHanja</name>
        <label>Set Normalized Subject to 한자</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>normalizedSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>한자</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecommendedProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNormalizedSubjectToKorean</name>
        <label>Set Normalized Subject to 국어</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>normalizedSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>국어</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecommendedProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNormalizedSubjectToMath</name>
        <label>Set Normalized Subject to 수학</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>normalizedSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>수학</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecommendedProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNormalizedSubjectToScience</name>
        <label>Set Normalized Subject to 과학</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>normalizedSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>과학</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecommendedProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Interpret_Subject_Keyword</name>
        <label>Interpret Subject Keyword</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetRecommendedProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SubjectIsEnglish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectKeyword</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>영어</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNormalizedSubjectToEnglish</targetReference>
            </connector>
            <label>Subject is 영어</label>
        </rules>
        <rules>
            <name>SubjectIsMath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectKeyword</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>수학</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNormalizedSubjectToMath</targetReference>
            </connector>
            <label>Subject is 수학</label>
        </rules>
        <rules>
            <name>SubjectIsScience</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectKeyword</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>과학</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNormalizedSubjectToScience</targetReference>
            </connector>
            <label>Subject is 과학</label>
        </rules>
        <rules>
            <name>SubjectIsKorean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectKeyword</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>국어</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNormalizedSubjectToKorean</targetReference>
            </connector>
            <label>Subject is 국어</label>
        </rules>
        <rules>
            <name>SubjectIsHanja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subjectKeyword</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>한자</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNormalizedSubjectToHanja</targetReference>
            </connector>
            <label>Subject is 한자</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formattedLine</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!tempText}),
  {!LoopProducts.Name} &amp; &quot; – &quot; &amp; {!LoopProducts.Description},
  {!tempText} &amp; &quot;\n&quot; &amp; {!LoopProducts.Name} &amp; &quot; – &quot; &amp; {!LoopProducts.Description}
)</expression>
    </formulas>
    <interviewLabel>추천 과정 찾기 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>추천 과정 찾기</label>
    <loops>
        <name>LoopProducts</name>
        <label>Loop Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetRecommendedProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AppendRecommendationText</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProductList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <description>Product2에서 subjectKeyword 포함된 Name 검색</description>
        <name>GetRecommendedProducts</name>
        <label>Product2 검색</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>normalizedSubject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Interpret_Subject_Keyword</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>recommendedProductNameText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{Join(recommendedProductName, &quot;, &quot;)}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>childName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>normalizedSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PromptVersionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>3vNgK0000009T9FUAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>recommendationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recommendedProductName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prompt에서 그대로 출력될 한국어 추천 메시지 전체</description>
        <name>recommendedProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>학부모가 요청한 키워드(예: 영어)를 Flow에 전달하려고</description>
        <name>subjectKeyword</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>누적 추천 문장</description>
        <name>tempText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
