mdapi_temp/flows/GetAccountAndContacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Set_ContactList_Output</name>
        <label>조회된 아동 결과 저장</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts_By_Account</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>입력받은 회원 정보가 실제로 존재하는 고객 정보인지 체크.</description>
        <name>Account_Found</name>
        <label>Account 존재 여부 체크</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Contacts_By_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>해당 고객 정보를 찾을 수 없습니다.</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_By_Fields.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_By_Account</targetReference>
            </connector>
            <label>Outcome 1 of Account 존재 여부 체크</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>학부모 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get학부모와아동</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>필요한 정보를 불러오기 위해 학부모 정보를 받음.</description>
        <name>Get_Account_By_Fields</name>
        <label>학부모 정보</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>학부모의 아동 정보 조회.</description>
        <name>Get_Contacts_By_Account</name>
        <label>연결된 Contact 조회</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ContactList_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_By_Fields.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_By_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>조회한 아동정보</description>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
