mdapi_temp/flows/NewLeadFlow1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <dynamicChoiceSets>
        <name>LeadAddress1Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CityName__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadAddress2Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadIntProductPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InterestedSubject__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>NewLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom New Lead Flow3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Lead 레코드 생성</description>
        <name>crt_002</name>
        <label>crt-002</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_002</targetReference>
        </connector>
        <inputAssignments>
            <field>ChildBirthDate1__c</field>
            <value>
                <elementReference>Child1BirthDateInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildBirthDate2__c</field>
            <value>
                <elementReference>Child2BirthDateInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChildName2__c</field>
            <value>
                <elementReference>Child2NameInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CityName__c</field>
            <value>
                <elementReference>Address4Input.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>NameInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InterestedSubject__c</field>
            <value>
                <elementReference>InterestedProductInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Child1NameInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MarketingConsent__c</field>
            <value>
                <elementReference>MarketingConsent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PhoneInput.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyConsent__c</field>
            <value>
                <elementReference>PrivacyConsent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Address4Input.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Address3Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Under14Consent__c</field>
            <value>
                <elementReference>Under14Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upper14Consent__c</field>
            <value>
                <elementReference>Upper14Consent</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>scr_001</name>
        <label>scr-001</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>crt_002</targetReference>
        </connector>
        <fields>
            <name>scr_001_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_001_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameInput</name>
                    <dataType>String</dataType>
                    <fieldText>학부모 이름</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PhoneInput</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>학부모 연락처</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>InterestedProductInput</name>
                    <choiceReferences>LeadIntProductPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>관심 과목</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_001_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address4Input</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>CityName__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>State__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>지역</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>자치구</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Address3Input</name>
                    <dataType>String</dataType>
                    <fieldText>상세주소</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_001_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_001_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Child1NameInput</name>
                    <dataType>String</dataType>
                    <fieldText>자녀1 이름</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Child2NameInput</name>
                    <dataType>String</dataType>
                    <fieldText>자녀2 이름</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_001_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Child1BirthDateInput</name>
                    <dataType>String</dataType>
                    <fieldText>자녀1 생년월일</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Child2BirthDateInput</name>
                    <dataType>String</dataType>
                    <fieldText>자녀2 생년월일</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_001_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_001_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrivacyConsent</name>
                    <dataType>Boolean</dataType>
                    <fieldText>개인정보</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarketingConsent</name>
                    <dataType>Boolean</dataType>
                    <fieldText>마케팅</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_001_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upper14Consent</name>
                    <dataType>Boolean</dataType>
                    <fieldText>만 14세 이상 상담정보 입력자</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Under14Consent</name>
                    <dataType>Boolean</dataType>
                    <fieldText>만 14세 미만 아동정보</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_002</name>
        <label>scr-002</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;정상 처리되었습니다.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_001</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
